@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

// Breakpoints.

@include breakpoints((
  xlarge:   ( 1281px,  1680px ),
  large:    ( 981px,   1280px ),
  medium:   ( 737px,   980px  ),
  small:    ( 481px,   736px  ),
  xsmall:   ( 361px,   480px  ),
  xxsmall:  ( null,    360px  )
));

// Mixins.
@mixin color($p) {
  @include color-page($p);
  @include color-typography($p);
  @include color-hero($p);
  @include color-card($p);
}

// Base.

@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/index';
@import 'components/hero';
@import 'components/nav';
@import 'components/footer';
@import 'components/deck';
@import 'components/card';
@import 'components/section';
