body {
  margin: auto;
  background-color: #e5e5e5;
  font-size: 1.4rem;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

header {
  margin: auto;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  flex-flow: column;
}

nav {
  box-shadow: 1px 1px 10px #323232;
  background-color: #323232;
  margin-top: -1rem;
}

nav ul {
  padding: 1rem;
  display: flex;
  flex-wrap: column;
  justify-content: left;
}

nav ul li {
  padding: 0 1rem;
  font-weight: bold;
  list-style: none;
}

nav ul li a:hover {
  color: #e5e5e5;
}

a {
  text-decoration: none;
  color: #4375d9;
}

a:hover {
  color: #323232;
}

main {
  width: auto;
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
  color: #323232;
}

main section table tbody{
  display: grid;
  max-width: 1240px;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
  padding: 1rem 0;
}

main section table tr:hover {
  background-color: #f5f5f5;
}

tr {
  /*box-shadow: 0.5px 0.5px 3px #323232;*/
  display: flex;
  padding: 1rem;
  padding-top: 2rem;
  background-color: #e5e5e5;
  flex-direction: column;
}

.showcase {
  background-color: #fff;
  justify-content: top;
  align-items: center;
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: #323232;
  color: #cdcdcd;
  padding: 1rem;
}

@media only screen and (pointer: fine) {
  body {
    font-size: 1rem;
  }
  main section table tbody {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  }
}

.hide {
  display: none;
}